/* 기본 초기화 */
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { width: 100%; height: 100%; overflow: hidden; }

/* 지도 */
#map { width: 100%; height: 100vh; z-index: 1; }

/* 제목 */
.map-title {
    position: absolute; top: 10px; left: 50%; transform: translateX(-50%);
    z-index: 10; background: rgba(255, 255, 255, 0.8);
    padding: 5px 15px; border-radius: 20px; font-size: 16px;
}

/* 기존 .sidebar 수정 */
.sidebar {
    position: absolute; 
    bottom: 0; 
    height: 100%; 
    width: 100%;           /* 너비는 고정하고 */
    transform: translatey(100%); /* 화면 왼쪽 밖으로 밀어두기 */
    z-index: 999; 
    transition: 0.5s; 
    overflow: hidden;
    background-color: white;
    /* 열리기 전에는 클릭 방해 금지 */
    pointer-events: none; 
}

/* 열렸을 때 상태 */
.sidebar.-open {
    transform: translateX(0); /* 다시 화면 안으로 */
    pointer-events: auto;     /* 사이드바 안의 버튼 등은 클릭 가능하게 */
}

/* 버튼들 공통 */   /* 앱솔위치 top->bottom, leftpx수정 */
#btn { position: absolute; bottom: 35px; left: 180px; z-index: 1000; padding: 5px 10px; }
#mylocation { position: absolute; bottom: 30px; right: 20px; z-index: 10; padding: 10px; }
.dd-login-btn { position: absolute; top: 15px; right: 15px; z-index: 10; padding: 5px 10px; }

/* 로그인 오버레이 */
.dd-overlay {
    display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5); z-index: 2000; justify-content: center; align-items: center;
}
.dd-auth-box { background: white; padding: 20px; border-radius: 10px; min-width: 280px; }
.close-btn { float: right; cursor: pointer; font-size: 20px; }

/*김민권*/
.sidebar-content{
    display: flex;
    justify-content: space-between;
    justify-content: space-around
}

#make{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding:10px;
}
.box{
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 1px solid #ddd;
    text-align: center;
    overflow: hidden;
}

.box img{
    width: 100%;
    height: 70%;
    object-fit: contain;
}


