<div class="dd-auth-box">
  <span class="close-btn" data-modal-close>&times;</span>
  <div id="join-section">
    <h2 style="color:#222; margin-bottom:20px;">회원가입</h2>
    <form>
      <input type="text" id="input-dd-user-id" class="dd-input" placeholder=" ID : 4~12자의 영문, 숫자만 가능합니다." required minlength="4" maxlength="12" pattern="^[a-zA-Z][a-zA-Z0-9]*$">
      <p class="message" id="wo-id"></p>
      <input type="password" id="input-dd-user-password1" class="dd-input" placeholder=" 비밀번호 : 4~12자의 영문, 숫자만 가능합니다." required minlength="4" maxlength="12" pattern="^[a-zA-Z][a-zA-Z0-9]*$">
      <p class="message" id="wo-pw1"></p>
      <input type="password" id="input-dd-user-password2" class="dd-input" placeholder=" 비밀번호확인 : 작성한 비밀번호를 입력해주세요." required minlength="4" maxlength="12" pattern="^[a-zA-Z][a-zA-Z0-9]*$">
      <p class="message" id="wo-pw2"></p>
      <input type="text" id="input-dd-user-nickname" class="dd-input" placeholder=" 사용할 Nickname : 2 ~ 8 자" required minlength="2" maxlength="8">
      <p class="message" id="wo-nn"></p>
      <button type="submit" class="auth-submit-btn">회원가입하기</button>
      <div class="a-parent single-link-row"><a href="#" data-open-modal="login">이미 계정이 있으신가요? (로그인)</a></div>
    </form>
  </div>
</div>
