<!--
  include 전환용 카테고리 바 파셜.
  iframe 격리가 사라지므로 wrapper 클래스를 두고 CSS 범위를 제한한다.
-->
<div class="ui-inline-root">
  <button type="button" class="ui" data-index="0" aria-pressed="false"><img src="./img/marker.png"> <span>전체 보기</span></button>
  <button type="button" class="ui" data-index="1" aria-pressed="false"><img src="./img/hospital.png"> <span>병원</span></button>
  <button type="button" class="ui" data-index="2" aria-pressed="false"><img src="./img/gym.png"> <span>체육관</span></button>
  <button type="button" class="ui" data-index="3" aria-pressed="false"><img src="./img/police.png"> <span>경찰서</span></button>
  <button type="button" class="ui" data-index="4" aria-pressed="false"><img src="./img/smoking.png"> <span>흡연부스</span></button>
  <button type="button" class="ui" data-index="5" aria-pressed="false"><img src="./img/toilet.png"> <span>공중 화장실</span></button>
</div>
