<!--
  include 전환용 카테고리 바 파셜.
  가운데 정렬과 가로 스크롤을 동시에 유지하기 위해 wrapper / scroller / list 3단 구조를 사용한다.
-->
<div class="ui-inline-wrap">
  <div class="ui-inline-scroller" tabindex="0" aria-label="카테고리 목록 가로 스크롤">
    <div class="ui-inline-root">
      <button type="button" class="ui" data-index="0" aria-pressed="false"><img src="./img/icons/all.svg" alt=""> <span>전체 보기</span></button>
      <button type="button" class="ui" data-index="1" aria-pressed="false"><img src="./img/icons/hospital.svg" alt=""> <span>병원</span></button>
      <button type="button" class="ui" data-index="2" aria-pressed="false"><img src="./img/icons/gym.svg" alt=""> <span>체육관</span></button>
      <button type="button" class="ui" data-index="3" aria-pressed="false"><img src="./img/icons/police.svg" alt=""> <span>경찰서</span></button>
      <button type="button" class="ui" data-index="4" aria-pressed="false"><img src="./img/icons/smoking.svg" alt=""> <span>흡연부스</span></button>
      <button type="button" class="ui" data-index="5" aria-pressed="false"><img src="./img/icons/toilet.svg" alt=""> <span>공중 화장실</span></button>
      <button type="button" class="ui" data-index="6" aria-pressed="false"><img src="./img/icons/shared.svg" alt=""> <span>공유 스팟</span></button>
    </div>
  </div>
</div>
