a,
a:visited,
a:active {
    color: #222;
    font-size: 0.5em;
    margin: 7px 0;
    text-decoration: none;
}

.auth-submit-btn {
    width: 240px;
}

.dd-input {
    margin: 7px 0;
    width: 240px;
    height: 24px;
    border-radius: 4px;
    /* margin-right: 30px; */
}

.auth-submit-btn {
    margin: 7px 0;
}

.message {
    font-size: 0.8em;
    color: red;
}

/* h2 {
    margin-left: 16px;
} */